@keyframes float {
	0% {
		transform: translatey(30px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(30px);
	}
}

#logo-text-box {
    position: relative;
    width: 415px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    position: relative;

    height: auto; 
    width: auto; 
    max-width: 175px; 
    max-height: 175px;

    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

#social {
  height: auto; 
  width: auto; 
  max-width: 50px; 
  max-height: 50px;
  padding: 6px;
}

#text-logo {
    position: relative;
    width: 341px;
    height: 163px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;

    background: linear-gradient(#16FDA0 0%, #077EFB 100%);
      color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    animation: float 10s ease-in-out infinite;
}